
/*fonts*/
$font-site: "Onest", sans-serif !default;
$font-weight300: 300 !default;
$font-style: normal !default;
$font-display: swap !default;
$font-size: 16px !default;
$letter-spacing: 0% !default;

/*colors*/
$white-color-site: #fff !default;
$black-color-site: #242424 !default;
$bg_white: #ffff !default;
$bg_black: #242424FF !default;
$bg_white_mobile: #cecece !default;
$color_hover_menu: #b71b34;
$bg_color_dignity: #F3F6F9FF;
$color_btn_bg: #b71b34;