
/*SECTION WELCOME*/
.welcome{

}
/*title block*/
.welcome__titleBlock{
  width: 100%;
  height: 450px;
  background-image: url("../images/bg_welcome.avif");
}

.welcome__titleBlock-inner{
  padding: 58px 95px 87px;
}

.titleBlock__title{
  width: 495px;
  height: 112px;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0;
  text-align: left;
  word-wrap: break-word;
}

.titleBlock__text{
  margin-top: 18px;
  width: 550px;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0;
  text-align: left;
}

.titleBlock__button{
  margin-top: 32px;
  width: 225px;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px 16px 20px;
  background: #B71B34FF;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
}

.titleBlock__button:hover{
  transform: scale(1.1);
}